<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rent.app">

    <application
        android:name=".Core"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.shipping.ShippingActivity"
            android:exported="true" />
        <activity
            android:name=".ui.home.review.ReviewActivity"
            android:exported="true" />
        <activity
            android:name=".ui.account.edit.profile.EditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".ui.account.edit.password.EditPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".ui.account.wishlist.WishlistActivity"
            android:exported="true" />
        <activity
            android:name=".ui.product.list.ProductListActivity"
            android:exported="true" />

        <activity
            android:name=".ui.product.search.ProductSearchActivity"
            android:exported="true" />
        <activity
            android:name=".ui.order.OrderDetailActivity"
            android:exported="true" />
        <activity
            android:name=".ui.home.notification.NotificationActivity"
            android:exported="true" />
        <activity
            android:name=".ui.home.message.MessageActivity"
            android:exported="true" />
        <activity
            android:name=".ui.product.detail.ProductDetailActivity"
            android:exported="true" />
        <activity android:name=".ui.auth.register.RegisterActivity"
            android:exported="true"/>
        <activity android:name=".ui.main.MainActivity"
            android:exported="true"/>
        <activity android:name=".ui.auth.login.LoginActivity"
            android:exported="true"/>
        <activity android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>